{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}

{{- $img := .Resources.ByType "image" -}}
{{- $featured := $img.GetMatch "*feature*" -}}
{{- if not $featured }}{{ $featured = $img.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- with $featured -}}
    {{ if $disableImageOptimization }}
        {{ with . }}
            <div class="w-full h-36 md:h-56 lg:h-72 single_hero_basic nozoom" style="background-image:url({{ .RelPermalink }});"></div>
        {{ end }}
    {{ else }}
        {{ with .Resize "1200x" }}
            <div class="w-full h-36 md:h-56 lg:h-72 single_hero_basic nozoom" style="background-image:url({{ .RelPermalink }});"></div>
        {{ end }}
    {{ end }}
{{- end -}}